SERVER_HOST=localhost
SERVER_PORT=8098

DB_HOST=127.0.0.1
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=autodevs_dev

WORKTREE_BASE_DIR=/private/var/folders/tv/531lt6yx3ss28h1b7bcpb1900000gn/T/autodevs

GITHUB_TOKEN=github_pat_***

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

CENTRIFUGE_REDIS_ADDRESS=localhost:6379
CENTRIFUGE_REDIS_PASSWORD=
CENTRIFUGE_REDIS_DB=2